body
{
    margin: 0;
}

#header
{
    background-color: aqua;
    height: 60px;
    color: white;
    margin: 0;
    font-size: 40px;
}

.navigation
{
    width: 90%;
    
}

#main
{
    top: 60px;
    left: 0px;
    background-color: palegoldenrod;
    margin: 0;
}

.section
{
    padding-left: 16px;
    padding-top: 1px;
}

#footer
{
    left: 0px;
    bottom: 0px;
    width: 100%;
    background-color: #505050;
    color: white;
    text-align: center;
}