body
{
    margin: 0;
}

#header
{
    background-color: burlywood;
}

#navigation
{
    background-color: aqua;
    color: white;
}

#main
{
    background-color: palegoldenrod;   /*To eliminate and put inside body. Delete #main in css*/
}

.section
{

}



#footerContent
{
    left: 0px;
    bottom: 0px;
    width: 100%;
    background-color: #505050;
    color: white;
    text-align: center;
}