/*---------------------------------------BODY-----------------------------------------------*/

body
{
    background-color: #FFF;
    font-family: Arial;
    margin: 0px;
}

/*---------------------------------------HEADER--------------------------------------------*/

header
{
    width: 100%;
    background-color: #F1F1F1;
    display: flex;
    flex-direction: row;;
    align-items: center;
    flex-wrap: wrap;
}

#headerContainerLeft
{
    width: 50%;
    background-color: aquamarine;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
}

#searchBar
{
    border: 1px solid #367FFC;
}

#headerContainerRight
{
    width: 50%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;
}

/*---------------------------------------NAV-----------------------------------------------*/


/*----------------------------------------MAIN---------------------------------------------*/


/*---------------------------------------FOOTER--------------------------------------------*/

footer
{
    background-color: #F2F2F2;   /*Light grey*/
    border-top: 1px solid #DADCE0;   /*Light grey*/
    color: #666;
    bottom: 0;
    position: absolute;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    font-size: 16px;
}

.footerContent
{
    margin: 12px;
}

.footerText
{
    margin: 12px;
}

.footerLink
{
    color: #666;
    text-decoration: none;
}

.footerLink:hover
{
    text-decoration: underline;
}