table, th, td
{
    margin: auto;   /*Center horizontally*/
    border-collapse: collapse;
    padding: 16px;
    max-width: 10%;
    color: white;
}

input
{
    display: block;
    margin: auto;
}

.cell
{
    border: 1px solid;
    color: white;
}

.green
{
    border: 1px solid;
    background-color: green;
}

.black
{
    border: 1px solid;
    background-color: black;
}

.red
{
    border: 1px solid;
    background-color: red;
}