table, .userCell
{
    border: solid;
    border-collapse: collapse;
    padding: 16px;
    color: black;
}

input
{
    display: block;
    margin: auto;
}

h1
{
    color: black;
}

#tableRoulette, .green, .black, .red
{
    margin: auto;   /*Center horizontally*/
    border-collapse: collapse;
    padding: 16px;
    max-width: 10%;
    color: white;
}


.green
{
    border: 1px solid;
    background-color: green;
}

.black
{
    border: 1px solid;
    background-color: black;
}

.red
{
    border: 1px solid;
    background-color: #A80B0B;
}

#pocket
{
    text-align: center;
}