#mainSorting
{
    width: 100%;
    background-color: aqua;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.menuSorting
{
    width: 100%;
    background-color: beige;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}

.menuSortingButton
{
    background-color: coral;
    padding: 15px;
    border: 1px solid black;
    cursor: pointer;
}

#containerBars
{
    background-color: white;
    height: 413px;
    position: relative;
    margin-top: 64px;
}

.divElement 
{
    width: 28px;
    background-color: purple;
    position: absolute;
    bottom: 0px;
    margin: 1px;
    transition: 0.2s;
}
  
.divLabelStyle
{
    position: absolute;
    color: black;
    margin-top: -20px;   /*Position on top of bar 20px*/
    width: 100%;
    text-align: center;
}