.divElement {
    width: 28px;
    background-color: purple;
    position: absolute;
    bottom: 0px;
    transition: 0.2s all ease;
}
  
.divElementStyle {
    position: absolute;
    color: black;
    margin-top: -20px;
    width: 100%;
    text-align: center;
}